$border: rgb(152, 147, 147);
$border_shadow: rgba(152, 147, 147, 0.4);
$border_shadow_menu: rgba(8, 6, 6, 0.8);
$higlight: white;
$border_button: rgb(41, 111, 164);
$main_color: rgb(217, 211, 211);
$h1_color: rgba(215, 16, 16, 0.7);

$smallMobile : 479 px;
$mobile : 639 px;
$tablet : 959 px;
$desktop : 1199 px;